html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body, p, h1, h2, h3, h4, h5, h6 {
	line-height: 1.5em;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'OpenSans-Semibold';
  src: url(./Fonts/OpenSans-Semibold.woff) format('woff');
}

html {
  font-family: 'OpenSans-Semibold', sans-serif;
  font-weight: 500;
}



/* Style */



/* Navbar */
.navbar {
  width: 100%;
  min-height: 70px;
  background: linear-gradient(to right, #9ACDFF, #6AB0F0, #3C8CFF );
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  z-index: 9999;
}

.navbar .logo {
  position: absolute;
  left: 4%;
  background: url(./Img/chino-logo.png);
  background-size: cover;
  width: 130px;
  min-height: 35px;
  background-position: center;
}

.navbar .menu {
  position: absolute;
  right: 5%;
}

.navbar .dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  position: absolute;
  right: 4%;
  padding: 26px 30px;
}

.navbar .symbol-menu {
  transform: scale(1.5);
  color: white;
}

.navbar .dropdown .dropdown-menu {
  display: none;
  position: fixed;
  left: 0;
  width: 100vw;
  background: white;
  margin-top: 23px;
  text-align: left;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.55);
}

.navbar .dropdown .dropdown-menu li a {
  padding: 12px 5%;
  display: block;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.navbar .dropdown .dropdown-menu li a:hover {
  background: rgba(0, 0, 0, 0.2);
}

.navbar .menu ul li {
  display: inline-block;
}

.navbar .menu ul li a {
  text-decoration: none;
  color: white;
  margin: 0 25px;
  position: relative;
  font-weight: 500;
  text-decoration: none;
  padding: 15px 0;
}

.navbar .menu ul li a::before {
  content: '';
  position: absolute;
  top: 80%;  
  left: 0;
  width: 0;  
  height: 2px;
  background: #fff;
  transition: .2s ease;
}

.navbar .menu ul li a:hover::before {
  width: 100%;  

}



/* Container */
.container {
  width: 100%;
  margin-top: 68px;
}



/* Container Hero */
.container .hero {
  background: url(./Img/hero.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 110vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .hero .layer {
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.55;
  position: absolute;
  top: 0;
  left: 0;
}

.container .hero .content {
  position: absolute;
  width: 47%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container .hero .content h1 {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 4vmax;
  text-shadow: 0 2px 1px black;
}

.container .hero .content p {
  text-align: center;
  color: white;
  margin-top: 20px;
}

.container .hero .content .submit-button {
  color: white;
  text-decoration: none;
  margin-top: 25px;
  padding: 10px 20px;
  border: 2px solid white;
  transition: 0.2s ease;
  border-radius: 15px;
}

.container .hero .content .submit-button:hover {
  background: black;
  color: white;
  transform: scale(1.05);
}



/* Container Main Content */
.container .main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 80px 0;
}

.container .main-content .content {
  width: 70%;
}

.container .main-content .content h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.container .main-content .content p {
  text-align: center;
  font-style: italic;
  margin-top: 30px;
}



/* Container About Profile */
.container .about-profile {
  padding: 80px 0;
  background: linear-gradient(to right, #7AB0FF, #5A8BFF  , #4A70FF);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .about-profile .content {
  width: 70%;
  display: flex;
}

.container .about-profile .content .profile-photo {
  background: url(./Img/profile.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  width: 45%;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
}

.container .about-profile .content .information {
  width: 55%;
  margin: 80px 0 80px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.container .about-profile .content .information h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}

.container .about-profile .content .information p {
  color: white;
}

.container .about-profile .content .information .button {
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border: 2px solid white;
  margin-top: 30px;
  border-radius: 15px;
  transition: 0.2s ease;
  text-align: center;
}

.container .about-profile .content .information .button:hover {
  background: white;
  color: #5A8BFF;
  transform: scale(1.05);
}



/* Container Visual Menu */
.container .visual-menu {
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .visual-menu .content {
  width: 78%;
  display: flex;
  gap: 75px;
  padding: 30px;
}

.container .visual-menu .content .card {
  flex: 1;
  border-radius: 20px;
  box-shadow: 0 30px 10px -20px rgba(0, 0, 0, 0.75);
  transition: 0.5s ease;
  position: relative;
  overflow: hidden;
}

.container .visual-menu .content .card:hover {
  box-shadow: 0 80px 10px -40px rgba(0, 0, 0, 0.15);
  transform: scale(1.05);
}

.container .visual-menu .content .card .information {
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 2;
  width: 100%;
  text-align: center;
  padding: 0.7em;
}

.container .visual-menu .content .card .information h4 {
  color: white;
  font-weight: 700;
}

.container .visual-menu .content .card.one {
  background: url(./Img/card1.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.container .visual-menu .content .card.two {
  background: url(./Img/card2.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.container .visual-menu .content .card.three {
  background: url(./Img/card3.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}



/* Container Review */
.container .reviews {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 0;
}

.container .reviews .content {
  width: 92%;
  padding: 100px 20px;
  background: linear-gradient(to right, #7AB0FF, #5A8BFF  , #4A70FF);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container .reviews .content h5 {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: white;
  text-align: center;
}

.container .reviews .content p {
  font-style: italic;
  color: white;
  text-align: center;
}



/* Container Extras */
.container .extras {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 0 4% 0;
}

.container .extras .content {
  width: 92%;
  padding: 100px 20px;
  background: linear-gradient(to right, #7AB0FF, #5A8BFF  , #4A70FF);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container .extras .content h6 {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: white;
  text-align: center;
}

.container .extras .content p {
  font-style: italic;
  color: white;
  text-align: center;
}



/* Container Footer */
.container .footer {
  padding: 40px 0;
  background: linear-gradient(to bottom, #7AB0FF, #5A8BFF  , #4A70FF);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .footer .content {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 18px;
}

.container .footer .content .logo {
  width: 150px;
  min-height: 35px;
  background: url(./Img/chino-logo.png);
  background-size: cover;
  background-position: center;
}

.container .footer .content .cr {
  color: white;
  text-align: center;
}

.container .footer .content .cr a {
  text-decoration: none;
  color: white;
}

.container .footer .content .cr a:hover {
  text-decoration: underline;
}

.container .footer .content .socmedia a i {
  color: white;
  transform: scale(1.3);
  text-decoration: none;
  margin: 0 10px;
  text-align: center;
}









/* RESPONSIVE */
@media (max-width: 366px) {

  .navbar .menu {
    display: none;
  }

  .navbar .dropdown {
    display: block;
  }

  .navbar .dropdown:hover .dropdown-menu {
    display: block;
  }

  .container .hero .content {
    width: 90%;
  }

  .container .about-profile .content {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .container .about-profile .content .profile-photo {
    width: 100%;
    height: 300px;
  }
  
  .container .about-profile .content .information {
    width: 88%;
    margin: 80px 80px 0 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .container .visual-menu .content {
    width: 90%;
    min-height: 330px;
    flex-direction: column;
  }
  
  .container .visual-menu .content .card {
    flex: 1;
    min-height: 230px;
  }

}





@media (min-width: 367px) and (max-width: 432px) {

  .navbar .menu {
    display: none;
  }

  .navbar .dropdown {
    display: block;
  }

  .navbar .dropdown:hover .dropdown-menu {
    display: block;
  }

  .container .hero .content {
    width: 65%;
  }
  
  .container .about-profile .content {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .container .about-profile .content .profile-photo {
    width: 100%;
    height: 300px;
  }
  
  .container .about-profile .content .information {
    width: 88%;
    margin: 80px 80px 0 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .container .visual-menu .content {
    width: 80%;
    min-height: 330px;
    flex-direction: column;
  }
  
  .container .visual-menu .content .card {
    flex: 1;
    min-height: 230px;
  }

}





@media (min-width: 433px) and (max-width: 865px) {

  .navbar .menu {
    display: none;
  }

  .navbar .dropdown {
    display: block;
  }

  .navbar .dropdown:hover .dropdown-menu {
    display: block;
  }

  .container .hero .content {
    width: 55%;
  }

  .container .about-profile .content {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .container .about-profile .content .profile-photo {
    width: 100%;
    height: 300px;
  }
  
  .container .about-profile .content .information {
    width: 88%;
    margin: 80px 80px 0 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

}





@media (min-width: 433px) and (max-width: 500px) {

  .container .visual-menu .content {
    width: 80%;
    min-height: 330px;
    flex-direction: column;
  }
  
  .container .visual-menu .content .card {
    flex: 1;
    min-height: 250px;
  }

}





@media (min-width: 501px) and (max-width: 700px) {

  .container .visual-menu .content {
    width: 70%;
    min-height: 330px;
    flex-direction: column;
    gap: 115px;
  }
  
  .container .visual-menu .content .card {
    flex: 1;
    min-height: 300px;
  }

}





@media (min-width: 701px) and (max-width: 865px) {

  .container .visual-menu {
    padding: 40px 0;
  }

  .container .visual-menu .content {
    width: 95%;
    gap: 44px;
  }
  
  .container .visual-menu .content .card {
    flex: 1;
    min-height: 210px;
  }

}





@media (min-width: 866px) and (max-width: 946px) {

  .navbar .menu {
    display: none;
  }

  .navbar .dropdown {
    display: block;
  }

  .navbar .dropdown:hover .dropdown-menu {
    display: block;
  }

  .container .hero .content {
    width: 55%;
  }
  
  .container .about-profile .content {
    width: 80%;
  }

  .container .about-profile .content {
    width: 80%;
  }

  .container .about-profile .content .information {
    margin: 80px 0 80px 40px;
  }

  .container .visual-menu {
    padding: 40px 0;
  }

  .container .visual-menu .content {
    width: 95%;
    gap: 44px;
  }
  
  .container .visual-menu .content .card {
    flex: 1;
    min-height: 210px;
  }

}





@media (min-width: 947px) {

  .navbar .dropdown {
    display: none;
  } 

  .container .hero {
    height: 100vh;
  }

  .container .about-profile .content {
    width: 78%;
  }

  .container .visual-menu .content {
    width: 85%;
    gap: 65px;
  }
  
  .container .visual-menu .content .card {
    flex: 1;
    min-height: 40vh;
  }

}
